{% extends 'base.html' %}
{% load static %}

{% block headone %}
<title>{{user.username}}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}

<div id="tk_container" style="color: black;">
    
    <div class="center pt-4 mb-1 pb-1 "  >
        <h1 style="margin-top: 65px;">Register</h1>
    </div>

    <div class="center">

        <div class="container" style="margin-bottom: 40px;">

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="submit" type="submit">Submit</button>
            </form>
        </div>

    </div>




</div>

{% endblock %}