{% extends "base.html" %}
{% load static %}

{% block headone %}
<title>Donasi Sosial</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/formulir_donasi_apd.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    
    <div class="row content">
        <div class="col-md-6 order-2 order-md-1">
        <h4 class="judulProgramFormulir">{{ nama_program }}</h4>
        <!-- FORMULIR DONASI -->
            <form method="POST" class="" style="">
                {% csrf_token %}
                {{ form }}
                <div>
                    <input class=" btn-donasi rounded-pill" type="submit" value="DONASI">
                </div>
            </form>
            <a href="/donasi-apd/#program-donasi" class="btn rounded-pill btn-donasi center" style="height: 30px;">Kembali</a>
        </div>
        
        <!-- FOTO DONASI -->
        <div class="col-md-6 center order-1 order-md-2">
            <img class="fotoDetailDonasi" src='/{{ foto }}'>
        </div>

        </div>
</div>

{% endblock %}