body {
    background: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    margin-right: 0;
    
}

#gambar-atas {
    height: 720px;
    background: url("../img/gambar_atas_about.png") no-repeat;
    background-size:cover; 
    background-position: center center;
}


.judul {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 110%;
    font-size: 80px;
    text-align: center;
    color: #ffffff;
    padding-top: 20vw;
    
}

.deskripsiJudul {
    /* font-family: Josefin Sans; */
    font-style: normal;
    /* font-weight: bold;
    line-height: 110%; */
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    
}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.navbar li {
    padding-right: 10px;
    padding-left: 10px;
}

.judulAbout {
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 60px;
    color: #024164;
    /* padding-bottom: 2.344vw ; */
}

.penjelasan {
    font-family: Poppins;
    font-size: 26px;
}

.center {
  /* height:29vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.bagian-text {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 150px;
    /* border: 1px solid red; */
}

.container-tulisan {
    padding-bottom: 79px;
}

.card-title{
    font-family: Josefin Sans;
    font-weight: bold;
    padding-bottom: 30px;
}

.card {
    border-radius: 10%
}

.card-img-top {
    border-top-left-radius: 10%; 
    border-top-right-radius: 10% ;
}

.btn {
    background-color: #772E25;
    
}

.btn-donasi {
    color: #ffffff; 
    width: 150px;
    margin: 4px;
}