{% extends "base.html" %}
{% load static %}

{% block headone %}
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/about.css' %}">
{% endblock %}



{% block content %}
    <div id="gambar-atas">
        <p class="judul">About Us</p>
    </div>

    <div class="container-tulisan">
        <div class="bagian-text">
            <p class="judulAbout">Siapa Kami?</p>
            <p class="penjelasan">Kami adalah lima mahasiswa yang membuat wadah yaitu sebuah organisasi non-profit yang menggalang dana untuk membantu tenaga kesehatan membeli APD dan membeli bahan bantuan sosial.</p>
        </div>
        <div class="bagian-text">
            <p class="judulAbout">Visi</p>
            <p class="penjelasan">Menjadi platform bantuan yang efektif untuk membantu masyarakat yang mengalami kesulitan dalam masa pandemi.</p>
        </div>
        <div class="bagian-text">
            <p class="judulAbout">Misi</p>
            <p class="penjelasan">Membantu mengurangi krisis APD untuk tenaga kesehatan dan memberi bantuan sosial.</p>
        </div>
    </div>
    
    
    <!-- uwu -->
{% endblock %}

